<header
  [ngClass]="{
    'ml-68': (isSidebarExpanded$ | async),
    'ml-20': (isSidebarExpanded$ | async) === false
  }"
  class="relative flex items-center justify-between transition-all duration-300 ease-in-out rounded-2xl bg-gradient-to-b from-neutral-900 to-neutral-900/90 p-4 sm:p-6 md:p-8 text-white shadow-[0_4px_12px_rgba(0,0,0,0.5)] border-b border-white/10"
>
  <!-- CENTERED TITLE -->
  <div class="font-sans text-4xl absolute left-1/2 transform -translate-x-1/2 sm:text-base font-semibold tracking-wide pointer-events-none">
    DASHBOARD
  </div>

  <!-- RIGHT SIDE: Search + Icons -->
  <div class="flex items-center gap-4 ml-auto">
    <input
      type="text"
      placeholder="Search"
      class="bg-neutral-800 text-sm px-4 py-2 rounded-md border border-neutral-700 focus:outline-none"
    />
    <button>
      <div class="w-4 h-4 bg-lime-500 rounded-sm"></div>
    </button>
    <button class="w-4 h-4 rounded-full bg-pink-500"></button>
  </div>
</header>
